@import url(reset.css);
.btn {
  padding: 7px 25px;
  background: #fff;
  margin: 5px 0;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 100;
  min-width: 100px;
  transition: 0.3s;
  border: 0; }
  .btn:hover {
    background: black;
    color: #fff; }
  .btn.error {
    background: #e63462;
    color: #fff; }
    .btn.error:hover {
      background: #FE5f55; }

.quests-list .quest-item {
  min-height: 350px;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center; }
  .quests-list .quest-item .quest-item-wrapp .card-title {
    font-size: 3em;
    color: #fff;
    text-shadow: 3px 4px 7px black; }
  .quests-list .quest-item .quest-item-wrapp .card-date {
    color: #c7efcf;
    font-weight: 100; }

.assignee {
  font-weight: 100;
  font-size: .8em; }
  .assignee .not-assigned {
    color: white; }
  .assignee .is-assigned {
    color: #e63462; }

.quest-detail {
  display: flex;
  min-height: 100vh; }
  .quest-detail.collapsed .quest-information-block {
    width: 50%; }
  .quest-detail > * {
    transition: .7s; }
  .quest-detail .quest-detail-map {
    max-width: 50%;
    background: black;
    width: 100%;
    min-height: 100vh; }
    .quest-detail .quest-detail-map #map {
      width: 100%;
      height: 100%; }
  .quest-detail .quest-information-block {
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    background: #000;
    z-index: 0;
    width: 100%; }
    .quest-detail .quest-information-block .title {
      font-size: 2em;
      font-weight: 100;
      text-shadow: 14px 7px 20px #333745;
      padding: 10px 0 10px 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff;
      margin: 20px;
      border-left: 2px solid #e63462;
      line-height: 25px; }
    .quest-detail .quest-information-block .blured-bg {
      position: absolute;
      width: 120%;
      height: 120%;
      top: -10%;
      left: -10%;
      z-index: -1;
      filter: blur(50px);
      overflow: hidden;
      background-clip: border-box;
      background-origin: content-box;
      background-size: cover;
      opacity: 0.2; }
    .quest-detail .quest-information-block .info .quest_img {
      width: 25%; }
    .quest-detail .quest-information-block .info .description {
      color: #fff;
      font-weight: lighter;
      text-align: left;
      line-height: 1.5;
      font-size: 1em;
      letter-spacing: 1px;
      padding-left: 2em;
      border-top: 1px solid #e63462;
      padding-top: 10px;
      margin-top: 10px; }
    .quest-detail .quest-information-block .info .startDate {
      color: yellow;
      font-weight: 100;
      text-align: right; }
    .quest-detail .quest-information-block .members-list {
      background: #333;
      padding: 15px;
      box-sizing: border-box; }
      .quest-detail .quest-information-block .members-list span {
        color: white; }
        .quest-detail .quest-information-block .members-list span .fa {
          color: #e63462;
          font-size: 2em;
          vertical-align: sub;
          margin-right: 10px; }
      .quest-detail .quest-information-block .members-list .quest-member {
        display: inline-block; }
        .quest-detail .quest-information-block .members-list .quest-member .literalName {
          display: inline-block;
          width: 30px;
          height: 30px;
          vertical-align: baseline;
          text-align: center;
          border-radius: 50%;
          background: #eee;
          border: 2px solid #e63462;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0 5px; }
          .quest-detail .quest-information-block .members-list .quest-member .literalName span {
            font-size: 1em;
            vertical-align: middle;
            line-height: 30px;
            color: #333; }

@keyframes bg-detail {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.routes-info .routes-info-block {
  margin-bottom: 20px; }
  .routes-info .routes-info-block .routes-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 15px 0;
    border-top: 1px solid #FE5f55;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .routes-info .routes-info-block .route-lags-wrapp .routes-leg {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #333; }

body {
  background: #000;
  color: #333;
  font-family: Roboto; }

p {
  color: white;
  font-weight: 100; }
  p i {
    color: #e63462;
    margin-right: 5px; }
  p span {
    color: #FE5f55; }

.container {
  width: 100%;
  min-height: 100vh; }

.block-loading {
  width: auto;
  height: auto;
  position: relative; }
  .block-loading .rotating-block {
    position: relative;
    width: 100px;
    height: 100px;
    animation: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    overflow: hidden; }
    .block-loading .rotating-block .dustItem {
      position: absolute;
      height: 1px;
      width: 1px;
      background: white;
      font-size: 0;
      transition: 3s;
      border-radius: 50%; }

.main-loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  background: #000; }
  .main-loading .particles .dustItem {
    position: absolute;
    width: 1px;
    height: 1px;
    color: white;
    font-size: 2px;
    transition: 5s;
    transition-timing-function: linear;
    border-radius: 50%; }
  .main-loading .loading {
    font-weight: 100;
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 20px 60px;
    font-size: 4em;
    perspective: 100vw;
    position: relative; }
    .main-loading .loading p {
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      z-index: 10;
      position: relative; }
    .main-loading .loading:after {
      content: "";
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.02) 85%);
      width: 100%;
      height: 66px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transform: rotateY(-40deg);
      transform: rotateY(-40deg);
      margin: auto;
      border-radius: 15px 60px 0;
      bottom: 0;
      right: 0; }

.game-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex; }
  .game-wrapper #gameMap {
    width: 70%;
    min-height: inherit; }
  .game-wrapper .game-players-wrapp {
    background: #000;
    width: 30%; }
    .game-wrapper .game-players-wrapp .total-users {
      font-size: 1.3em;
      font-weight: 100;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #333; }
    .game-wrapper .game-players-wrapp .game-players .game-player-block {
      position: relative;
      padding: 12px;
      border-bottom: 1px solid;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .game-wrapper .game-players-wrapp .game-players .game-player-block .username .fa {
        color: #fff;
        font-size: 2em;
        vertical-align: middle;
        margin-right: 10px; }
      .game-wrapper .game-players-wrapp .game-players .game-player-block .username p {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        color: #e63462; }
      .game-wrapper .game-players-wrapp .game-players .game-player-block .coordinates .fa {
        color: #fff;
        font-size: 2em;
        vertical-align: middle;
        margin-right: 10px; }
      .game-wrapper .game-players-wrapp .game-players .game-player-block .coordinates .info {
        display: inline-block;
        vertical-align: middle; }

@keyframes rotation {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
