@import url(reset.css);
.btn {
  padding: 7px 25px;
  background: #fff;
  margin: 5px 0;
  border-radius: 4px;
  display: inline-block;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 100;
  min-width: 100px;
  transition: 0.3s;
  border: 0; }
  .btn:hover {
    background: black;
    color: #fff; }
  .btn.error {
    background: #e63462;
    color: #fff; }
    .btn.error:hover {
      background: #FE5f55; }

.quests-list .quest-item {
  min-height: 350px;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center; }
  .quests-list .quest-item .quest-item-wrapp .card-title {
    font-size: 3em;
    color: #fff;
    text-shadow: 3px 4px 7px black; }
  .quests-list .quest-item .quest-item-wrapp .card-date {
    color: #c7efcf;
    font-weight: 100; }

.assignee {
  font-weight: 100;
  font-size: .8em; }
  .assignee .not-assigned {
    color: white; }
  .assignee .is-assigned {
    color: #e63462; }

.quest-detail {
  display: flex;
  min-height: 100vh; }
  .quest-detail .quest-detail-map {
    width: 50%;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; }
    .quest-detail .quest-detail-map #map {
      width: 100%;
      height: 100%; }
  .quest-detail .quest-information-block {
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 50%;
    box-sizing: border-box;
    background: #000;
    z-index: 0; }
    .quest-detail .quest-information-block .title {
      font-size: 2em;
      font-weight: 100;
      text-shadow: 14px 7px 20px #333745;
      padding: 10px 0 10px 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff;
      margin: 20px;
      border-left: 2px solid #e63462;
      line-height: 25px; }
    .quest-detail .quest-information-block .blured-bg {
      position: absolute;
      width: 120%;
      height: 120%;
      top: -10%;
      left: -10%;
      z-index: -1;
      filter: blur(50px);
      overflow: hidden;
      background-clip: border-box;
      background-origin: content-box;
      background-size: cover;
      opacity: 0.2; }
    .quest-detail .quest-information-block .info .quest_img {
      width: 25%; }
    .quest-detail .quest-information-block .info .description {
      color: #fff;
      font-weight: lighter;
      text-align: left;
      line-height: 1.5;
      font-size: 1em;
      letter-spacing: 1px;
      padding-left: 2em;
      border-top: 1px solid #e63462;
      padding-top: 10px;
      margin-top: 10px; }
    .quest-detail .quest-information-block .info .startDate {
      color: yellow;
      font-weight: 100;
      text-align: right; }
    .quest-detail .quest-information-block .members-list {
      background: #333745;
      padding: 15px;
      box-sizing: border-box; }
      .quest-detail .quest-information-block .members-list span {
        color: white; }
        .quest-detail .quest-information-block .members-list span .fa {
          color: #e63462;
          font-size: 2em;
          vertical-align: sub;
          margin-right: 10px; }
      .quest-detail .quest-information-block .members-list .quest-member {
        display: inline-block;
        margin-right: 15px; }
        .quest-detail .quest-information-block .members-list .quest-member .literalName {
          display: inline-block;
          width: 30px;
          height: 30px;
          vertical-align: baseline;
          text-align: center;
          border-radius: 50%;
          background: #eee;
          border: 2px solid #e63462;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0 10px; }
          .quest-detail .quest-information-block .members-list .quest-member .literalName span {
            font-size: 1em;
            vertical-align: middle;
            line-height: 30px;
            color: #333745; }

body {
  background: #fff;
  color: #333745;
  font-family: Roboto; }

.container {
  width: 100%;
  min-height: 100vh; }

.main-loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  text-align: center; }

/*# sourceMappingURL=index.css.map */
