@import "reset.css";
@import "variables";
@import "components";
@import "components/Quest/quests";
@import "components/RoutesInfo/routes";

body {
  background: $black;
  color: $dark;
  font-family: Roboto;
}

p {
  color: white;
  font-weight: 100;
  i {
    color: $primary;
    margin-right: 5px;
  }
  span {
    color: $secondary;
  }
}

.container {
  width: 100%;
  min-height: 100vh;
}
.block-loading{
  width: auto;
  height: auto;
  position: relative;
  .rotating-block {
    position: relative;
    width: 100px;
    height: 100px;
    animation: rotate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    overflow: hidden;
    .dustItem {
      position: absolute;
      height: 1px;
      width: 1px;
      background: white;
      font-size: 0;
      transition: 3s;
      border-radius: 50%;
    }
  }
}
.main-loading {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  text-align: center;
  background: $black;
  .particles {
    .dustItem {
      position: absolute;
      width: 1px;
      height: 1px;
      color: white;
      font-size: 2px;
      transition: 5s;
      transition-timing-function: linear;
      border-radius: 50%;
    }
  }
  .loading {
    font-weight: 100;
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 20px 60px;
    font-size: 4em;
    perspective: 100vw;
    position: relative;

    p {
      text-transform: uppercase;
      font-weight: bold;
      color: $black;
      z-index: 10;
      position: relative;
    }
    &:after {
      content: "";
      background: linear-gradient(to right, white 0%, rgba(255, 255, 255, .02) 85%);
      width: 100%;
      height: 66px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transform: rotateY(-40deg);
      transform: rotateY(-40deg);
      margin: auto;
      border-radius: 15px 60px 0;
      bottom: 0;
      right: 0;
    }
  }
}

.game-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  #gameMap {
    width: 70%;
    min-height: inherit;
  }
  .game-players-wrapp {
    background: $black;
    width: 30%;
    .total-users {
      font-size: 1.3em;
      font-weight: 100;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid $dark;
    }
    .game-players {
      .game-player-block {
        position: relative;
        padding: 12px;
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .username {
          .fa {
            color: $light;
            font-size: 2em;
            vertical-align: middle;
            margin-right: 10px;
          }
          p {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            color: $primary;
          }
        }
        .coordinates {
          .fa {
            color: $light;
            font-size: 2em;
            vertical-align: middle;
            margin-right: 10px;
          }
          .info {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@keyframes rotation {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}